body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }
@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
* {
    box-sizing: border-box;
  }
  a:link {
    color: #829985;
   }
   a:hover {
    margin-bottom: auto;
    background: #ffe;
    color: #d0dad2;
    transition: 0.3s ease-in-out;
   }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
    padding: 0 30px;
    line-height: 70px;
  }
  .nav-link {
    transition: .3s;
  }
  .section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #5c5454;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #474242;
  }
  .section-title-h1 {
    padding-left: 360px;
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #000;
  }
  .section-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: overline;
    letter-spacing: 3px;
    color: #829980;
  }
  .text-decoration-none {
    text-decoration: none;
    color: #829985;
  }